html,body{
    height: 100%;
    margin: 0;
  }

  input {
    border: 1px solid;
    min-width: 34%;
    padding:5px;
  
  }

  .inputFront{
    width:150px;
    height:40px;
    font-size: 14px;
    font-family: 'source Sance Pro', sans-serif;
    border: none;
    /* border-radius: 5px; */
    padding: 0.5%;
    background-color: #074618;
    color: white;
    margin: 2%;

  }
  .inputFront:hover{
    color: #05922C;
    cursor: pointer;
  }
  .inputFront:active {
    transform: translateY(4px);
  }
  
  button{
    font-size: 14px;
    font-family: 'source Sance Pro', sans-serif;
    border: 1px solid lightskyblue;
    border-radius: 5px;
    padding: 0.5%;
    background-color: lightskyblue;
    color: white;
    margin: 2%;
  }
  button:hover{
    color: black;
    cursor: pointer;
  }
  button:active {
    transform: translateY(4px);
  }
  /****************************Header************************************/
  
  
  /* holds the header navigation */
  .navigationBar{
      list-style-type: none;
      margin-top: 0;
      padding: 0;
      overflow: hidden;
      background-color: #05922C;
  }
  /* Defines Li  */
  .navigationList{
  float: right;
  }
  
  .navigationText{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

    }       
    .navigationText:hover{
        background-color: #333;
    }
  
  /********************************Structure of all pages *****************/
    .pageStructure{
      display: block;
      /* border: 1px solid black; */
      background-color: whitesmoke;
      border-radius: 15px;
      min-height: 100%;
      margin-top: 2.5;
      margin-left: 13%;
      margin-right: 13%;
      margin-bottom: 5px;
      overflow: hidden;
    
    }
    .pageStructureFront{
      display: flex;
      align-items: center;
      /* border: 1px solid black; */
      /* background-color: whitesmoke; */
      border-radius: 15px;
      min-height: 80%;
      margin-top: 2.5;
      margin-left: 13%;
      margin-right: 13%;
      margin-bottom: 5px;
      overflow: hidden;
    
    }
    .exerciseDivFront{
    width: 100%;
    display: flex;
    justify-content: center;    
    }
    .boxdiv{
        width: 100%;
        display: flex;
        justify-content: center;    
        }
    .frontDiv{
      /* border: 2px solid black; */
      display: flex;
      justify-content: center;
  
    }
    .exerciseDiv{
      margin-left: 2%;
      
    }
    /********************************Footer*****************/

    footer{
      background-color: #05922C;
      color: white;
      display: grid;
      grid-template-columns: 1fr 1fr;
      height: 50px;
    }
    .welcomegreeting{
        display: flex;
        align-items: center;
         flex-direction: column;
        width: 90%;
    }
    .welcomegreeting p{
      margin:40px 0;
    }
    .paragrahStructure{
        display: flex;
        align-items: center;
         flex-direction: column;
        width: 90%;
    }
    .paragrahStructureTable{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 90%;
        border-top: 1px solid;
    }
    .searchBox{
        background-color: #05922C;
        width: 50%;

        margin: 3%;
    }
    .searchBoxTable{
        background-color: #05922C;
        width: 90%;
        height: 300px;
        margin: 3%;
    }
    .searchInputLabel{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin:20px 0;
    }
    .labelstructure{
        color: white;
    }
    .inputFrom{
        margin: 5%;
    }
        /********************************table structure*****************/

    /* Simplified version of Bootstrap's responsive table CSS */
  .table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
  }

  .table-responsive > table {
    width: 100%;
    table-layout: fixed;
  }
  .table td {
      word-wrap: break-word;
      max-width: 200px;
      padding-left: 6%;
      color: white;
      /* border-bottom: 1pt solid black; */
  }

  .table th {
    word-wrap: break-word;
    max-width: 200px;
    padding-left: 1%;
    color: white;
    /* border-bottom: 1pt solid black; */
    padding-bottom:20px;
}
  /* .table table tr {
    border-bottom: 2pt solid black;
} */
